// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$text: #EBDDDD;
$background: #140F0F;
$primary: #B00012;
$secondary: #70000B;
$accent: #F00019;

$transition: all 0.4s ease 0s;
