// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// main{
//     background-color: $background !important;
// }

body{
  background-image: url('../img/bg/dialogo-dei-sopravvissuti-nelle-rovine-dopo-la-guerra-illustrazione-3d.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}

.my_bg-glass{
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2)
}

.my_header-glass{
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.4)
}

.my_character-card{
  .my_profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .my_character-name{
    font-family: 'Cinzel Decorative', cursive;;
    color: white;
  }
}

.my_stats-card{
  .card-title{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 4rem;
    line-height: 4rem;
    color: $primary;
    text-shadow: #FFF 1px 0 15px;
  }
  .card-text{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $white;
  }
}



.my_card{
  border: none;
  border-radius: 3rem !important;
}

.my-wrapper-login{
  img{
    width: 100%;
    height: auto;
  }
  p, label, input{
    font-family: 'Cinzel Decorative', cursive;
  }
  label{
    font-weight: 600;
  }
  p{
    margin-top: 5rem;
  }
}
.my_label{
  font-weight: 700;
}

.my_card-body,
.my_card-header
{
  background-color: $secondary;
  color: $background;
  border-color: none;
}

.my_card-header{
  padding: 2rem;
}

.wrapper-register{


.brand-logo{
  height: 250px;
}

.title{
  font-size: 3rem;
  margin-bottom: 2rem;
  color: $background;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 600;
  padding: 1rem;
}

label{
  font-family: 'Cinzel Decorative', cursive;
  color: $background;
  font-size: 1rem;
  font-weight: 600;
}

input{
  font-family: 'Cinzel Decorative', cursive;
}

  .my_card-body,
.my_card-header
{
  background-color: $secondary;
  color: $background;
  border-color: none;
}

.my_card-header{
  padding: 2rem;
  font-family: 'Cinzel Decorative', cursive;
}
  .my-card{
    background-color: $secondary;
    border-radius: 2rem;
  }

  .card.header{
    font-family: Raleway;
  }

  .btn .text-btn {
    transform: translateX(55px);
  
  }
}



/// BOTTONE EFFETTO HOVER

    .my-btn {
  margin-bottom: 100px;
  width: 200px;
  height: 50px;
  padding: 0 15px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: $background;
  color: $text;

  &:active{
    background: $text;
  }
 }

.btn:hover {
  box-shadow: 0 0 20px 0px $secondary;
  background-color: $background;
}

.my-btn .icon-hunter {
  position: absolute;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  filter: invert(1);

  svg{
    height: 30px;
  }
}

.my-btn .text-btn {
  transform: translateX(55px);

}

.my-btn:hover .icon-hunter {
  width: 170px;
}

.my-btn:hover .text-btn {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon-hunter {
  transform: scale(0.85);
}